@use '../styles/variables' as *;

html{
    box-sizing: content-box;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
}


body{
    background-color: #10141E;
}   

.noise{
    background: inherit;
    background-image: url('../../public/svg/noise.svg');
    background-size: contain;
}