@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.about{
    color: white;
    padding: 1.5rem 1rem 3rem 1rem;

    @include tablet{
        padding: 3rem 4rem 2rem 4rem;
    }

    @include desktop{
        height: 100vh;
        padding: 8rem;
        display: flex;
        column-gap: 2rem;
    }

    &__left{
        @include desktop{
            max-width: 40rem;
        }
    }

    &__right{
        @include desktop{
            max-width: 100rem;
            padding-top: 4rem;
        }
    }

    &__paragraph{
        margin-top: 0.5rem;
        font-size: 1rem;
        line-height: 1.7;
        
        @include tablet{
            font-size: 1.125rem;
        }
    }

    &__title{
        font-size: 1.25rem;
        margin-bottom: 1rem;
        line-height: 1.5;

        @include tablet{
            font-size: 1.75rem;
        }
    }

    &__subtitle{
        font-size: 1rem;
        margin: 1rem 0;
        line-height: 1.5;
        width: 100%;

        @include tablet{
            font-size: 1.25rem;
        }

        &--small{
            color: #cac3c3;
            font-size: 0.875rem;
            font-weight: 600;
        }
    }

    &__stack{
        margin: 1.5rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
    }

    &__tech{
        display: block;
        width: 3rem;
        height: 3rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @include tablet{
            width: 5rem;
            height: 5rem;
        }

        &--auth0{
            background-image: url('../../../public/icons/auth0.svg');
        }

        &--css{
            background-image: url('../../../public/icons/css.svg');
        }

        &--express{
            background-image: url('../../../public/icons/express.svg');
            background-color: white;
        }

        &--git{
            background-image: url('../../../public/icons/git.svg');
        }

        &--html{
            background-image: url('../../../public/icons/html.svg');
        }

        &--javascript{
            background-image: url('../../../public/icons/javascript.svg');
        }

        &--mongodb{
            background-image: url('../../../public/icons/mongodb.svg');
        }

        &--mysql{
            background-image: url('../../../public/icons/mysql.svg');
        }

        &--react{
            background-image: url('../../../public/icons/react.svg');
        }

        &--nextjs{
            background-image: url('../../../public/icons/nextjs.svg');
            background-color: white;
        }

        &--node{
            background-image: url('../../../public/icons/nodejs.svg');
        }

        &--sass{
            background-image: url('../../../public/icons/sass.svg');
        }

        &--typescript{
            background-image: url('../../../public/icons/typescript.svg');
        }
    }

    &__expose{
        padding: 0.5rem 1rem;
        background-color: $secondary;
    }
}